<!DOCTYPE html>
<html lang="en">

<head>
    <?php include("./head.php"); ?>
</head>

<body>
    <!-- Header Area -->
    <!-- Preloader -->
    <?php include("./nav.php"); ?>
    <!-- /Preloader -->
    <!-- /Header Area -->
    <!-- Custom Page Header -->
    <section class="custom-header fill dark-overlay" style="background:url(images/banner/15.jpg) no-repeat fixed;">
        <div class="header-inner">
            <div class="header-table">
                <h2 style="font-size:5em;">Daily Classes</h2>
                <p><a class="brdcrm-home" href="index.php">Home</a> &mdash; Classes</p>
            </div>
        </div>
    </section><!-- /Custom Page Header -->

    <div class="page-wrapper">
        <!-- teacher Galarry -->
        <section class="teacher-galarry section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mt-3">
                            <a href="class.php">
                                <div class="featured-video position-relative card">
                                    <img class="img-responsive" src="https://d357mttm70bw7x.cloudfront.net/29bb3f1c-60e3-4661-b2f3-152ac8df0e2d.jpg" alt="">
                                    <span class="featured-video-play"><i class="fa fa-play"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /teacher Galarry -->
        <!-- Footer Area -->
        <?php include("./footer.php") ?>
        <!-- /Footer Area -->
    </div><!-- /Page Wrapper -->
    <?php include("./script.php") ?>
</body>

</html>