<!DOCTYPE html>
<html lang="en">

<head>
    <?php include("./head.php"); ?>
</head>

<body>
    <!-- Header Area -->
    <!-- Preloader -->

    <?php include("./nav.php"); ?>
    <!-- /Preloader -->
    <!-- /Header Area -->


    <div class="page-wrapper">

        <!-- Class Page -->
        <section class="class-galarry section-padding">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class="single-portfolio position-relative">
                            <!--Show When Signed In -->
                            <!-- <video width="320" controls style="min-height: 100%;min-width: 100%;position: relative;">
                                <source src="movie.mp4" type="video/mp4">
                                <source src="movie.ogg" type="video/ogg">
                                Your browser does not support the video tag.
                            </video> -->
                            <!-- show when not signed in -->
                            <img src="images/portfolio/port6.jpg" alt="">
                            <div class="unlock">
                                <div class="m-auto">
                                    <div class="d-inline-block">
                                        <svg viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg" height="100%" width="70">
                                            <path d="M43 20.113V14.5C43 6.505 35.822 0 27 0S11 6.505 11 14.5v5.613c-3.401.586-6 3.55-6 7.117v19.542C5 50.757 8.243 54 12.229 54h29.542C45.757 54 49 50.757 49 46.771V27.229c0-3.566-2.599-6.53-6-7.116zM13 14.5C13 7.607 19.28 2 27 2s14 5.607 14 12.5V20H13zm34 32.271A5.235 5.235 0 0141.771 52H12.229A5.235 5.235 0 017 46.771V27.229A5.235 5.235 0 0112.229 22h29.542A5.235 5.235 0 0147 27.229z"></path>
                                            <path d="M27 28c-2.206 0-4 1.794-4 4v6c0 2.206 1.794 4 4 4s4-1.794 4-4v-6c0-2.206-1.794-4-4-4zm2 10c0 1.103-.897 2-2 2s-2-.897-2-2v-6c0-1.103.897-2 2-2s2 .897 2 2z"></path>
                                        </svg>
                                    </div>
                                    <div class="d-inline-block">
                                        <h2 class="mb-0">Unlock this class</h2>
                                        <p>Start Your Free Trial Today</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <span class="fs-3">SERIES</span>
                    <h1 class="mb-2"><b>DAY 1: STRENGTH PRACTICE I</b></h1>
                    <p class="fs-1 text-dark">From <a href="#" class="text-dark"><u>Beginner True Strength </u></a>by <a href="#" class="text-dark"><u>Dylan Werner</u></a></p>
                </div>
                <div class="mt-5">
                    <div class="d-inline-block mr-4">
                        <span class="fs-3">DIFFICULTY</span>
                        <div class="mt-2">
                            <svg class="codicon ml-2 mr-2 codicon-beginner difficulty-icon" viewBox="0 0 33 33" xmlns="http://www.w3.org/2000/svg">
                                <g fill="#000" fill-rule="nonzero">
                                    <path d="M3.038 31.403v-8.78a1.5 1.5 0 10-3 0v8.78a1.5 1.5 0 003 0z"></path>
                                    <path d="M12.938 31.4V15.588a1.5 1.5 0 00-3 0V31.4a1.5 1.5 0 003 0zM22.911 31.42V8.47a1.5 1.5 0 10-3 0V31.42a1.5 1.5 0 103 0zM32.904 31.438V1.644a1.5 1.5 0 00-3 0v29.794a1.5 1.5 0 003 0z" opacity=".2"></path>
                                </g>
                            </svg>
                            <span class="fs-3">Beginner</span>
                        </div>

                    </div>
                    <div class="d-inline-block">
                        <span class="fs-3">INTENSITY</span>
                        <div class="mt-2">
                            <svg class="codicon ml-2 mr-2 codicon-intensity-3" viewBox="0 0 33 33" xmlns="http://www.w3.org/2000/svg">
                                <g fill="#000" fill-rule="nonzero">
                                    <path d="M20.892 29.874h-8.78a1.5 1.5 0 000 3h8.78a1.5 1.5 0 100-3zM24.409 19.974H8.596a1.5 1.5 0 000 3H24.41a1.5 1.5 0 000-3zM27.977 10.001H5.028a1.5 1.5 0 100 3h22.949a1.5 1.5 0 100-3z"></path>
                                    <path d="M31.4.008H1.605a1.5 1.5 0 100 3H31.4a1.5 1.5 0 100-3z" opacity=".2"></path>
                                </g>
                            </svg>
                            <span class="fs-3">Intensity 3</span>
                        </div>

                    </div>
                </div>
                <p class="fs-2 my-5">
                    This first strength practice video utilizes a wide array of movements that stem from familiar yoga poses such as child's pose, downward facing dog, lunge, cat-cow, and more. The range of movements truly make this class a full-body workout, and the familiarity you build here will help you achieve more difficult poses in later classes. The end of this class also includes stretching to cool down the body and get you physically and mentally prepared for the day’s next task.
                </p>
                <div class="text-center">
                    <a href="signup.php" class="default-button button-big dark-bg fs-2"><b>Unblock This Class</b></a>
                </div>
            </div>
        </section>
        <!-- /Class Page -->
        <!-- Footer Area -->
        <?php include("./footer.php") ?>
        <!-- /Footer Area -->
    </div>
    <!-- /Page Wrapper -->
    <?php include("./script.php") ?>

</body>

</html>