<!DOCTYPE html>
<html lang="en">

<head>
	<?php include("./head.php"); ?>
    
</head>

<body>
	<!-- Header Area -->
	<!-- Preloader -->
	<?php include("./nav.php"); ?>
	<!-- /Preloader -->
	<!-- /Header Area -->
	<!-- Custom Page Header -->
    <section class="custom-header h-75 fill bg-grey">
        <div class="header-inner">
             <div class="header-table">
                <span class="display-2 text-dark"><b>FORGOT YOUR PASSWORD?</b></span>
                 <br>
                <span class="display-4 text-dark">WE'LL EMAIL YOU A LINK TO RESET IT</span>
            </div>
        </div>
	</section><!-- /Custom Page Header -->
			
		<div class="page-wrapper">
		
			<section class="setting-area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 m-auto float-none">
                            <form action="#">
                                <input type="email" placeholder="Email Address" required="">
                                <div class="text-center">
                                    <button class="btn alo-button w-100 fs-2">Reset Password</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

			</section>
        <!-- Footer Area -->
        <?php include("./footer.php") ?>
            <!-- /Footer Area -->
    </div>
    <!-- /Page Wrapper -->

	<?php include("./script.php") ?>

</body>

</html>