{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Virtual &mdash; Learning</title>
<!-- Css Starts-->
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Cabin:wght@600;700&family=Cairo:wght@600&family=Kufam:wght@600&family=Merriweather:wght@900&family=Oswald&family=Raleway:wght@700&family=Ubuntu:wght@500&family=Yanone+Kaffeesatz:wght@500&display=swap"
    rel="stylesheet">
<!-- Bootstrap CSS -->

<link href="{% static '' %}clientside/css/bootstrap.min.css" rel="stylesheet">

<!-- Font Icons -->

<link href="{% static '' %}clientside/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static '' %}clientside/css/pe-icon-7-stroke.css" rel="stylesheet">
<link href="{% static '' %}clientside/css/pretty-checkbox.css" rel="stylesheet">

<!-- Megamenu CSS -->
<link href="{% static '' %}clientside/css/megamenu.css" rel="stylesheet">

<!-- Meanmenu CSS -->
<link href="{% static '' %}clientside/css/meanmenu.css" rel="stylesheet">

<!-- Owl Carousel CSS -->
<link href="{% static '' %}clientside/css/owl.carousel.css" rel="stylesheet">

<!-- Magnific Popup CSS -->
<link href="{% static '' %}clientside/css/magnific-popup.css" rel="stylesheet">

<!-- Main CSS -->
<link href="{% static '' %}clientside/css/style.css" rel="stylesheet">
<link href="{% static '' %}clientside/css/custom.css" rel="stylesheet">

<!-- Css Ends-->