<!DOCTYPE html>
<html lang="en">

<head>
    <?php include("./head.php"); ?>
</head>
<body>
<!-- Header Area -->
    <!-- Preloader -->
    <?php include("./nav.php"); ?>
    <!-- /Preloader -->
<!-- /Header Area -->
<div class="page-wrapper ">
    <!-- membership -->
    <section class="member-galarry mt-60 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7 col-xs-12 m-auto float-none">
                    <div class="">
                        <h1><b>CHOOSE YOUR PLAN</b></h1>
                        <p class="fs-2">When your free trial ends on <b>07/28/2020</b>, your account will be automatically charged for the selected plan. You can <b>change or cancel</b> your plan anytime.</p>
                        <div class="trial-box">
                            <h4 class="fs-2"><b>monthly</b></h4>
                            <div class="">
                                <span class="fs-2"><b>$20/month</b></span>
                            </div>
                            <p class="">After your 14-day free trial, you will be billed $20/month.</p>
                        </div>
                        <div class="offer-box">
                            <div class="save-off">
                                <h4 class="">Save 50%</h4>
                            </div>
                            <h4 class="fs-2"><b>yearly</b></h4>
                            <div class="price-off">
                                <span class="cut-price">$20</span>
                                <span class="latest-price">$9/month</span>
                            </div>
                            <p class="">After your 14-day free trial, you will be billed $100 for the first year, then $199/year when your membership renews next year.</p>
                        </div>
                        <hr>
                        <div class="promo">
                            <form>
                                <label class="fs-2">Have a promo code?</label>
                                <div class="">
                                    <input type="text" placeholder="Enter your promo code" class="" value="">
                                    <div class="text-center">
                                        <a href="payment.php" class="btn alo-button">Continue</button>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                 </div>
            </div>
        </div>
    </section>
    <!-- /membership -->
    <!-- Footer Area -->
    <?php include("./footer.php") ?>
    <!-- /Footer Area -->
</div>
<!-- /Page Wrapper -->
<?php include("./script.php") ?>

</body>
</html>
