<!DOCTYPE html>
<html lang="en">

<head>
    <?php include("./head.php"); ?>
</head>
<body>
<!-- Header Area -->
    <!-- Preloader -->
    <?php include("./nav.php"); ?>
    <!-- /Preloader -->
<!-- /Header Area -->
<!-- Custom Page Header -->
<section class="custom-header h-75 fill bg-grey">
    <div class="header-inner">
        <div class="header-table">
            <span class="display-2 text-dark"><b>NOTIFICATIONS</b></span>
        </div>
    </div>
</section><!-- /Custom Page Header -->

<div class="page-wrapper">

    <section class="setting-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto" style="float:none;">
                    <div class="commented">
                        <h2>4 comments</h2>
                        <ul class="comment-list">
                            <li>
                                <div class="comment">
                                    <div class="comment-photo">
                                        <img src="images/placeholder/comment-thumb.jpg" alt="">
                                    </div>
                                    <div class="comment-body">
                                        <h5>Ridoy Rezuen</h5>
                                        <div class="comment-meta">
                                            <span>26th Nov 2017</span><a href="#">Reply</a>
                                        </div>
                                        <p>The are likely to focus on the text, disregarding the layout and its elements. Besides, random text risks to be unintendedly humorous or offensive, an unacceptable risk in corporate environments. Lorem ipsum and its many variants have been employed since the early 1960ies, and quite likely since the sixteenth century.</p>
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="comment-photo">
                                        <img src="images/placeholder/comment-thumb2.jpg" alt="">
                                    </div>
                                    <div class="comment-body">
                                        <h5>Jony paul</h5>
                                        <div class="comment-meta">
                                            <span>26th Nov 2017</span><a href="#">Reply</a>
                                        </div>
                                        <p>An unacceptable risk in corporate environments. Lorem ipsum and its many variants have been employed since the early 1960ies, and quite likely since the sixteenth century.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="comment-photo">
                                        <img src="images/placeholder/comment-thumb.jpg" alt="">
                                    </div>
                                    <div class="comment-body">
                                        <h5>Ridoy Rezuen</h5>
                                        <div class="comment-meta">
                                            <span>26th Nov 2017</span><a href="#">Reply</a>
                                        </div>
                                        <p>The are likely to focus on the text, disregarding the layout and its elements. Besides, random text risks to be unintendedly humorous or offensive, an unacceptable risk in corporate environments. Lorem ipsum and its many variants have been employed since the early 1960ies, and quite likely since the sixteenth century.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="comment-photo">
                                        <img src="images/placeholder/comment-thumb2.jpg" alt="">
                                    </div>
                                    <div class="comment-body">
                                        <h5>Ridoy Rezuen</h5>
                                        <div class="comment-meta">
                                            <span>26th Nov 2017</span><a href="#">Reply</a>
                                        </div>
                                        <p>The are likely to focus on the text, disregarding the layout and its elements. Besides, random text risks to be unintendedly humorous or offensive, an unacceptable risk in corporate environments. Lorem ipsum and its many variants have been employed since the early 1960ies, and quite likely since the sixteenth century.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Area -->
    <?php include("./footer.php") ?>
    <!-- /Footer Area -->
</div>
<!-- /Page Wrapper -->

<?php include("./script.php") ?>



</body>

</html>