{% extends "clientside/base.html" %} {% load static %} {% block body %}
 <style type="text/css">
     .custom_form{
        background: #f4f4f4;
    border: 1px solid;
    padding: 10px;
     }
 </style>
<body>
    <!-- Header Area -->
    <!-- Preloader -->

    <!-- /Preloader -->
    <!-- /Header Area -->
    <!-- Custom Page Header -->
    <section class="custom-header h-75 fill bg-grey">
        <div class="header-inner" class="home-static" style="background:url(/static/assets/user.jfif) no-repeat;">
            <div class="header-table">
                <span class="display-2 text-dark"><b>{{data.U_Fname}} {{data.U_Lname}}</b></span>
            </div>
        </div>
    </section>
    <!-- /Custom Page Header -->

    <div class="page-wrapper">

        <section class="setting-area section-padding">

            <div id="exTab1" class="setting-tab">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#edit" data-toggle="tab">Edit Profile</a>
                    </li>
                    <!-- <li><a href="#account" data-toggle="tab">Account Setting</a> -->
                    </li>

                    <!-- <li><a href="#menbership" data-toggle="tab">Manage Menbership</a> -->
                    </li>
                    <!-- <li><a href="#payment" data-toggle="tab">Manage Payment Methods</a> -->
                    </li>

                </ul>
                <div class="tab-content setting clearfix">
                    <div class="tab-pane active" id="edit">
                        <form action="/clientside/setting" method="POST" enctype="multipart/form-data" class="custom_form">

                            {% csrf_token %}

                            <input placeholder="Username" id="username" name="username" type="text" value="{{data.Username}}">
                            <input placeholder="First Name" id="f_name" name="fname" type="text" value="{{data.U_Fname}}">
                            <input placeholder="Last Name" id="l_name" name="lname" type="text" value="{{data.U_Lname}}">
                            <input placeholder="Email Address" id="email_link" name="email" type="email" value="{{data.U_Email}}">
                            <input placeholder="Contact No" id="contact_no" name="phone" type="text" value="{{data.U_ContactNo}}">
                            <div class="selection-box">
                                <select name="gender" required="" name="gender" value="{{data.Gender}}">
                                    <option value="male">Male</option>
                                    <option value="female">female</option>
                                </select>
                            </div>

                            <input placeholder="Password" name="password" type="password" value="{{data.SPassword}}">


                            <textarea rows="2" name="U_Desc" placeholder="Desciption" value="">{{data.U_Desc}}</textarea>
                            <input type="file" name="image" value="{{data.U_Image}}">

                            <div class="text-center">
                                <button class="btn alo-button w-100 fs-2" type="submit">EDIT</button>

                            </div>
                        </form>
                        <hr>
                        <div class="text-center">
                            <!-- <button class="btn btn-read text-grey mr-3">Cancel</button> -->
                            <!-- <button class="btn bg-dark fs-2 text-white btn-lg">Save</button> -->
                        </div>
                    </div>
                    <div class="tab-pane" id="change">
                        <form action="#">
                            <input type="text" placeholder="Current Password" required="">

                            <input type="text" placeholder="New Password" required="">

                            <input type="text" placeholder="New Password Confirmed" required="">

                        </form>
                        <hr>
                        <div class="text-center">
                            <button class="btn btn-read text-grey mr-3">Cancel</button>
                            <button class="btn bg-dark fs-2 text-white btn-lg">Save</button>
                        </div>
                    </div>
                    <div class="tab-pane" id="menbership">
                        <div class="subscribe section text-center">
                            <p>You do not have an active Alo Moves Membership.</p><a class="btn alo-button" href="membership.php">Sign Up</a></div>
                    </div>
                    <div class="tab-pane" id="payment">
                        <form action="#">
                            <input type="number" placeholder="Card Number" required="">
                            <div class="col-md-6">
                                <input type="number" placeholder="CVC" required="">
                            </div>
                            <div class="col-md-6">
                                <input type="date" required="">
                            </div>
                        </form>
                        <hr>
                        <div class="text-center">
                            <button class="btn bg-dark fs-2 text-white btn-lg">Add Card</button>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Footer Area -->

        <!-- /Footer Area -->
    </div>
    <!-- /Page Wrapper -->

    {% endblock body %}