{% extends "clientside/base.html" %} {% load static %} {% block body %}

<style type="text/css">
    .teacher-galarry .t-photo img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.img-circle {
    border-radius: 5%;
}
.featured-video-play-add {
    position: absolute;
    top: 8%;
    left: 81%;
    transform: translate(-50%, -50%);
}
</style>
<body>
    <!-- Header Area -->
    <!-- Preloader -->

    <!-- /Preloader -->
    <!-- /Header Area -->
    <!-- Custom Page Header -->
   <section class="custom-header fill dark-overlay" style="background:url(/static/clientside/images/banner/profileCover.jpg) no-repeat fixed;">
        <div class="header-inner">
            <div class="header-table">
                <h2 style="font-size:5em;">Teachers</h2>
                <p><a class="brdcrm-home" href="/clientside/favorities">Home</a> &mdash; Teacher</p>
            </div>
        </div>
    </section>
    <!-- /Custom Page Header -->

    <div class="page-wrapper">
        <!-- teacher Galarry -->
        <section class="teacher-galarry section-padding">
            <div class="container">
                <div class="text-right mb-4">
                    <!-- <span>SORT BY :</span> -->
                    <!-- <select id="sort-recruiters" class="filters-select m-auto"></select> -->
                    <!-- <option value="All">Most Popular</option>
                    <option value="newest">Newest</option>
                    <option value="a-to-z">A to Z</option> -->
                    <!-- </select> -->

                </div>
                <div class="row recruiter">

                    {% for t in Teacher %}
                    <div class="row recruiter">

                        <div class="recruiter-info col-md-2 col-sm-4 col-xs-6 m-auto" data-custom-type="newest">


                            <div class="t-photo" >
                                <a href="/clientside/showteacherprofile/{{t.Trainer_Account_Id}}">

                                    <img src="{{t.U_Image.url}}" class="img-circle" alt="Sir Waqas">
                                </a>

                            </div>
                            <span class="featured-video-play-add">
                                    <i class="fa fa-plus-circle fa_add" onclick="addfavoriteteacher('{{t.Trainer_Account_Id}}')"></i>
                                </span>
                            <div class="t-name">
                                {{t.U_Fname}} {{t.U_Lname}}
                            </div>




                        </div>
                        {% endfor %}


                    </div>
                </div>
        </section>
        <script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }


            function addfavoriteteacher(id) {

                if (window.confirm("Are You Sure to Add teacher to favorities")) {
                    $.ajax({
                        url: 'addfavoriteteacher',
                        type: 'GET',
                        data: {
                            'id': id,

                        },
                        success: function(data) {
                            alert(data)







                        }



                    });

                }



            }
        </script>
        {% endblock body %}